@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,500i,700,700i");
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16;
  color: #364061;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #364061;
}

p, h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700i;
}

p {
  font-weight: 400;
}

div.title {
  padding: 30px;
}

div.title h2 {
  font-size: 2em;
  padding: 5px;
}

div.title p {
  font-size: 18px;
  padding: 5px;
}

.btn {
  text-align: center;
  padding: 5px;
  background-color: #364061;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 70%;
}

nav div.barra {
  background-color: #2d3e50;
  height: 40px;
}

nav div.barra div {
  display: flex;
  justify-content: flex-end;
}

nav div.barra div img {
  height: 70%;
}

nav div.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav div.menu img {
  width: 260px;
}

nav div.menu ul {
  display: flex;
}

nav div.menu ul li {
  margin: 0 20px;
}

nav div.menu ul li a {
  font-size: 1.3em;
  color: #364061;
  font-weight: 700;
}

nav div.menu ul li a:hover {
  color: #6C5B7B;
}

header {
  background-color: black;
}

header div#slider {
  text-align: center;
}

header div#slider div img {
  background-size: cover;
  width: 100vw;
  position: relative;
}

header div#slider div h3 {
  position: absolute;
  top: 70%;
}

ul.slick-dots {
  bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

section.missao {
  margin-top: 5%;
  background: #2d3e50;
  color: #ffffff;
}

section.missao div.barra img {
  margin-top: -30px;
}

section.missao h2 {
  padding: 50px 0;
}

section.missao div.call-to-action {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.missao div.call-to-action div.title {
  width: 40%;
  background: #273a4e;
  border-radius: 10px;
}

section.missao div.call-to-action div.title div.cards {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

section.missao div.call-to-action div.title div.cards img {
  width: 120px;
}

section.missao div.call-to-action div.title div.cards img.acess {
  border-radius: 100%;
}

section.carreiras {
  padding: 50px 0;
}

section.carreiras div {
  width: 80%;
  margin: 0 auto;
}

section.carreiras div div.cards {
  display: flex;
  justify-content: space-around;
}

section.carreiras div div.cards div {
  background-color: beige;
  width: 18%;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
  padding-bottom: 20px;
}

section.carreiras div div.cards div:hover {
  box-shadow: 0px 0px 9px 1px blue;
  width: 20%;
}

section.carreiras div div.cards div img {
  width: 100%;
}

section.carreiras div div.cards div h3 {
  padding: 10px 0 0;
}

section.carreiras div div.cards div p {
  padding: 10px 5px;
}

#exibir-carreira {
  display: none;
}

.appear {
  display: block;
}

footer div {
  background-color: #2d3e50;
  margin: 0 auto;
}

footer div div.barra {
  display: flex;
  justify-content: right;
}

footer div div.barra img {
  margin-top: -30px;
}

footer div p {
  color: white;
  padding: 30px 0;
}

section.front-menu {
  margin-top: 5%;
  background: #2d3e50;
  color: #ffffff;
}

section.front-menu div.barra img {
  margin-top: -30px;
}

section.front-menu h2 {
  padding: 50px 0;
}

section.front-menu div.cards {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.front-menu div.cards div.title {
  width: 22%;
  background: #273a4e;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */