//  NAV 
nav {
    
    div.barra {
        background-color: #2d3e50;
       // background: linear-gradient(to top, #c04848, #480048);
       //background: linear-gradient(to bottom, #f0c27b, #4b1248);
       // background: linear-gradient(to top, #f0c27b, #4b1248);
        // background-color: #364061;
        height: 40px;
        div {
            display: flex;
            justify-content: flex-end;

            img  {
                height: 70%;

                @media (max-width: 768px) {
                    height: 30px;
                    margin-top: 23px;

                }
            }
        }
     }

    div.menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        img.logo {
            width: 250px;
            @media (max-width: 768px) {
                width: 50%;
            }
        }

        ul {
            display: flex;
            @media (max-width: 768px) {
                display: none;
            }


            li {
                margin: 0 20px;

                @media (max-width: 768px) {
                    padding: 20px;
                }

                a {
                    font-size: 1.3em;
                    color: #364061;
                    font-weight: 700;

                    &:hover {
                        color: #dda0bb;
                    }
                }
            }
        }

        div.icon-menu {
            display: none;

            @media (max-width: 768px) {
                display: block;
            }

            img.menu-hamburguer {
                width: 100px;
                width: 50px;
                padding: 0 20px;
                display: none;
    
                @media (max-width: 768px) {
                    display: block;
                }
            }

        }
    } 
}

.dropdown{
    @media (max-width: 768px) {
        transition: .7s all;
        display: block;
        text-align: center;
        background: #ffffff;
    }
}
   

//     ul {
//         display: block;

//         li{
//             display: block;
//             padding: 5px;
//         }
//     }
// }

// .show-dropdown {
//     display: block;
// }


// nav.large{
// height: 15%;
// }

// nav.small{
// height: 10%;
// }

// .dropdown.dp-smallNav{
// top: 9vh;
// transition: .7s all;

// }

// .dropdown.dp-largeNav{
// top: 13vh;
// transition: .7s all;
// }

// @media (max-width: 768px){
// // Nav--------------------------------
// nav{
//     img.logo-nav{
//         width: 30%;
//     }
    
//     ul {
//         display: none;
//     }
    
//     img.menu{
//         display: block;
//         width: 30px;
//     }
// }
// }


