section.missao {
    margin-top: 5%;
    background:#2d3e50;
    color: #ffffff;
    

    div.barra {
        img {
            margin-top: -30px;
        }
    }

    h2 {
        padding: 50px 0;
    }
    
    div.call-to-action {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 768px) {
            width: 90%;
            display: block;
        }

        div.title {
            width: 40%;
            background: #273a4e;
            border-radius: 10px;

            @media (max-width: 768px) {
                width: 80%;
                margin: 0 auto;

            }
            

            div.cards {
                width: 80%;
                padding: 10px;
                display: flex;
                justify-content: center;
                margin: 0 auto;

                img {
                    width: 120px;

                    &.acess {
                        border-radius: 100%;
                    }
                }
            }
        }

    }
    
}

